name: Auto Deploy (Curl Method)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Git identity
        run: |
          git config --global user.name "mp@bot"
          git config --global user.email "mp@bot@noreply.github.com"

      - name: Clone web repo
        run: |
          git clone https://x-access-token:${{ secrets.WEB_TOKEN }}@github.com/voiceoftrisma/voiceoftrisma.github.io.git web

      - name: Clear old content
        run: |
          cd web
          rm -rf ./*

      - name: Checkout template (sparse)
        uses: actions/checkout@v4
        with:
          repository: Sparkplugx1904/voiceoftrisma
          sparse-checkout: |
            template/0
            template/sitemap.xml
            LICENSE
            README.md
          sparse-checkout-cone-mode: false
          path: template-src

      - name: Commit and push
        run: |
          cd web
          git add .
          git commit -m "Auto deploy by mp@bot at $(date)" || echo "No changes"
          git push origin main
